absl-py==0.3.0
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
Bashutils==0.0.4
bleach==3.3.0
boto==2.49.0
boto3==1.9.194
botocore==1.12.194
bz2file==0.98
catboost==0.14.2
certifi==2019.6.16
chardet==3.0.4
config==0.4.0
cycler==0.10.0
decorator==4.3.0
docutils==0.14
emoji==0.5.2
entrypoints==0.2.3
enum34==1.1.6
gast==0.2.0
gensim==3.8.0
graphviz==0.10.1
grpcio==1.14.1
h5py==2.8.0
html5lib==0.9999999
idna==2.8
ImageHash==4.0
imbalanced-learn==0.4.3
imblearn==0.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.33.8
jupyterlab-launcher==0.11.2
Keras==2.2.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
layers==0.1.5
lightgbm==2.2.3
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mlxtend==0.15.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nltk==3.2.5
node2vec==0.3.0
notebook==5.6.0
numpy==1.16.4
opencv-python==4.0.0.21
pandas==0.23.4
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.4.1
ply==3.11
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.8.0
pytorch-pretrained-bert==0.4.0
pytz==2018.5
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.0
qtconsole==4.3.1
regex==2019.6.8
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.20.2
scikit-optimize==0.5.2
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.4
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-hub==0.5.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
torch==1.1.0
tornado==5.1
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.25.3
utils==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.0
xlrd==1.1.0
